.popup-place__conteiner{
    background-color: rgba(255, 255, 255, 1);
    max-width: 430px;
    height: 35%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
  
  }
  @media (max-width : 450px){
  .popup-place__conteiner{
    width: 86%;
    height: 60%;
          }
      }