@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__add-button/profile__add-button.css);
.profile{
  display: flex;  
  margin-top:40px;  
  flex-direction: row;
  justify-content: space-between;
}