@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__info-title/profile__info-title.css);
@import url(./__info-subtitle/profile__info-subtitle.css);
@import url(./__info-button/profile__info-button.css);
.profile{
  margin-top:40px;  
  display: grid;
  grid-template-columns: 20% 50% 30%;
  width: 67.5%;
  margin: 40px auto;
}
@media (max-width : 1100px){
.profile{
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
      }
  }
@media (max-width : 403px){
.profile{
  width: 100%;
          }
      }