@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__add-button/profile__add-button.css);
.profile{
  margin-top:40px;  
  display: grid;
  grid-template-columns: 20% 50% 30%;
  width: 67.5%;
  margin: 40px auto;
}
@media (max-width : 760px){
.profile{
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
      }
  }