@import url(./__logo/header__logo.css);
.header{    
    border-bottom: 1px solid #545454;
    margin: 45px auto 0 ;
    width: 67.5%;
}
@media (max-width : 403px){
.header{
margin-top: 28px;
width: 100%;            }
              }