.popup__button-save{
  width: 80%;
  min-height: 50px;
  margin-left: 8%;
  margin-top: 5%;   
  background: #000000;
  cursor: pointer;
  color: white;
}
.popup__button-save:hover{
  background: rgba(0, 0, 0, 0.8);
  
}