@import url(./__text/footer__text.css);
.footer{
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 66px auto;
  padding-bottom:7%;
  width: 67.5%;
}
@media (max-width : 403px){
.footer{
  margin: 48px 37px;
  font-size: 14px;
  line-height: 17px;          }
            }