.popup__inputs{
  align-self: center;
  border:none;
  width: 84%;
  padding-top: 13%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding:10px;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width : 450px){
.popup__inputs{
  font-size: 12px;
  line-height: 15px;
      }
    }